@font-face {
    font-family: 'UOC Sans_Bold';
    src: url('../assets/fonts/eot/UOC_Sans-Bold_web.eot');
    src: url('../assets/fonts/eot/UOC_Sans-Bold_web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/woff/UOC_Sans-Bold_web.woff') format('woff'), url('../assets/fonts/woff2/UOC_Sans-Bold_web.woff2') format('woff2'), url('../assets/fonts/ttf/UOC_Sans-Bold_web.ttf') format('truetype'), url('../assets/fonts/svg/UOC_Sans-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*@font-face {
    font-family: 'UOC Sans_Bold Italic';
    src:    url('../assets/fonts/eot/UOC_Sans-Bold_Italic_web.eot');
    src:    url('../assets/fonts/eot/UOC_Sans-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('../assets/fonts/woff/UOC_Sans-Bold_Italic_web.woff') format('woff'),
            url('../assets/fonts/woff2/UOC_Sans-Bold_Italic_web.woff2') format('woff2'),
            url('../assets/fonts/ttf/UOC_Sans-Bold_Italic_web.ttf') format('truetype'),
            url('../assets/fonts/svg/UOC_Sans-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UOC Sans_Italic';
    src:    url('../assets/fonts/eot/UOC_Sans-Italic_web.eot');
    src:    url('../assets/fonts/eot/UOC_Sans-Italic_web.eot?#iefix') format('embedded-opentype'),
            url('../assets/fonts/woff/UOC_Sans-Italic_web.woff') format('woff'),
            url('../assets/fonts/woff2/UOC_Sans-Italic_web.woff2') format('woff2'),
            url('../assets/fonts/ttf/UOC_Sans-Italic_web.ttf') format('truetype'),
            url('../assets/fonts/svg/UOC_Sans-Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'UOC Sans_Regular';
    src: url('../assets/fonts/eot/UOC_Sans-Regular_web.eot');
    src: url('../assets/fonts/eot/UOC_Sans-Regular_web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/woff/UOC_Sans-Regular_web.woff') format('woff'), url('../assets/fonts/woff2/UOC_Sans-Regular_web.woff2') format('woff2'), url('../assets/fonts/ttf/UOC_Sans-Regular_web.ttf') format('truetype'), url('../assets/fonts/svg/UOC_Sans-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*@font-face {
    font-family: 'UOC Serif_Italic';
    src:    url('../assets/fonts/eot/UOC_Serif-Italic_web.eot');
    src:    url('../assets/fonts/eot/UOC_Serif-Italic_web.eot?#iefix') format('embedded-opentype'),
            url('../assets/fonts/woff/UOC_Serif-Italic_web.woff') format('woff'),
            url('../assets/fonts/woff2/UOC_Serif-Italic_web.woff2') format('woff2'),
            url('../assets/fonts/ttf/UOC_Serif-Italic_web.ttf') format('truetype'),
            url('../assets/fonts/svg/UOC_Serif-Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'UOC Serif_Regular';
    src: url('../assets/fonts/eot/UOC_Serif-Regular_web.eot');
    src: url('../assets/fonts/eot/UOC_Serif-Regular_web.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/woff/UOC_Serif-Regular_web.woff') format('woff'), url('../assets/fonts/woff2/UOC_Serif-Regular_web.woff2') format('woff2'), url('../assets/fonts/ttf/UOC_Serif-Regular_web.ttf') format('truetype'), url('../assets/fonts/svg/UOC_Serif-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
